body {
	background-color:black; 
	padding: 20px;
	color:white;
}

h1 {
	font-family: helvetica;
}

h2 {
	font-family: helvetica;
}

h3 {
	font-family: arial;
}

p {
	font-family: arial;
    padding-left: 50px
}

li {
	font-family: helvetica;
}

th {
	text-align: center;
	font-family: monospace;
}

tr {
	text-align: center;
	font-family: arial;
}

.buttonstr {
    width: 100px;
}

.buttonum {
    width: 35px;
    type: "number"; 
    class: "buttonum"; 
    name: "hourname"; 
    value: 0;
    min: 0; 
    max: 0;
}